<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-buildconfig-reader"
    version="0.0.1">
    <name>A native  plugin to read BuildConfig file</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <js-module src="www/plugin.js" name="BUILDCONFIGREADER">
        <clobbers target="buildconfigreader" />
    </js-module>
    
    <!-- android -->
    <platform name="android">

      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="buildconfigreader">
          <param name="android-package" value="org.sunbird.config.BuildConfigReaderPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
            <receiver
            android:name="org.sunbird.utm.ReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        </config-file>

      <source-file src="src/android/org/sunbird/config/BuildConfigReaderPlugin.java" target-dir="src/org/sunbird/config" />
      <source-file src="src/android/org/sunbird/config/ReflectionUtil.java" target-dir="src/org/sunbird/config" />
      <source-file src="src/android/org/sunbird/config/FileUtil.java" target-dir="src/org/sunbird/config" />
      <source-file src="src/android/org/sunbird/config/BuildConfigUtil.java" target-dir="src/org/sunbird/config" />
      <source-file src="src/android/org/sunbird/config/CryptoUtil.java" target-dir="src/org/sunbird/config" />
      <source-file src="src/android/org/sunbird/config/DeviceSpecGenerator.java" target-dir="src/org/sunbird/config" />
      <source-file src="src/android/org/sunbird/utm/ReferrerReceiver.java" target-dir="src/org/sunbird/utm" />
       <source-file src="src/android/org/sunbird/storage/StorageUtil.java" target-dir="src/org/sunbird/storage" />

    </platform>

    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="DB">
                <param name="browser-package" value="BUILDCONFIGREADER" />
            </feature>
        </config-file>
        <js-module src="src/browser/DBProxy.js" name="DBProxy">
            <runs/>
        </js-module>
    </platform>
</plugin>

